* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #13072d;
    width: 100vw;
    height: 100vh;
}

.container {

}

/* HEADER NAVVVVVVVIGATION */
header {
    display: grid;
    grid-template-areas: "logo links login";
    grid-template-columns: 450px 1fr 450px;
    margin: 40px 0

}
/* LOGOOOOO */
.logo {
    grid-area: logo;

}
.logo img {
        width: 200px;
}

/* LINKSSSS */
.links {
    grid-area: links;
}
.links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 8px;
}

.links li {
    list-style: none;
    color: #fdf6fe;
    font-size: 20px;
}
.links a {
    text-decoration: none;
}

/* LOGINNNN */
.login {
    grid-area: login;
         margin-top: 10px;
}

.login a{
     padding: 12px 30px;
    background-color: white;
     text-decoration: none;
     color: black;
     border-radius: 20px;
}
.login i {
    margin-left: 10px;
}

/* MAINNNNNNNN */
main {
    display: grid;
    grid-template-areas: "texts img-main";
    grid-template-columns: 400px 1fr;
    background-color: #251351;
    padding: 50px;
    width: 1200px;
    gap: 90px;
    border-radius: 30px;
    align-self: center;
}

/* TEXTSSSSSS */
.texts {
    grid-area: texts;
}

.p-1 {
    padding: 10px;
    color: #221862;
    background-color: #b3a8f9;
    border-radius: 20px;
    width: 150px;
    margin: 20px 0;
}

h2 {
    color: #ffff;
    font-size: 35px;
    margin-bottom: 20px;
}

.p-2 {
    color: #cccc;
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    font-size: 20px;
    padding: 15px 20px;
    background-color: #ffff;
    border-radius: 30px;

}

.btn i {
    margin-left: 20px;
    color: white;
    padding: 10px;
    background-color: black;
    border-radius: 30px ;

    
}


/* IMG MAIN */
.img-main {
    grid-area: img-main;
}
.img-main img{
    width: 500px;
}